img {
  max-width: 100%;
}

.quote {
  text-align: center;
  /* font-style: italic; */
  margin-bottom: 3em;
}

.container {
  max-width: 640px;
  margin: 1em auto;
  padding: 1em;
  font-family: serif;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}

.small-star {
  max-width: 42px;
  display: inline-block;
  margin-bottom: 1em;
}

p.html-energy {
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  margin-bottom: 1.75em;
  text-transform: uppercase;
  /* -webkit-animation: breathing 10s ease-out infinite; */
}

p.html-energy a {
  color: black;
}

td.link {
  padding: 0;
}

a.podcast,
.podcast {
  text-decoration: none;
  display: block;
  color: black;
  padding: 1em;
}

#big-star,
.star {
  -webkit-animation: rotating 100s linear infinite;
}

@-webkit-keyframes breathing {
    0% {
        letter-spacing: 0.025em;
    }
    50% {
        letter-spacing: 0.2em;
    }
    1000% {
        letter-spacing: 0.025em;
    }
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

nav {
  text-align: center;
  margin-bottom: 2em;
  margin-left: -2em;
  margin-right: -2em;
}


a.button.current {
  background: #F1F3F4;
}

.energy {
  font-size: .75em;
  margin-top: .25em;
}

table {
  width: 100%;
}

table, tr, td {
  border-collapse: collapse;
}

td {
  border: 1px solid #d1d1d1;
  width: 33.33333%;
  padding: 1em;
  vertical-align: top;
}

td.event-info {
  width: 66.667%;
}

.gradient {
  height: 123px;
  width: 123px;
  margin: 0 auto;
}

.question {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0e0e0+3,ffffff+70&1+2,0+70 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(224,224,224,1) 2%, rgba(224,224,224,0.99) 3%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,224,224,1) 2%,rgba(224,224,224,0.99) 3%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(224,224,224,1) 2%,rgba(224,224,224,0.99) 3%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.becca {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7ae6f4+3,ffffff+70&1+2,0+70 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(122,230,244,1) 2%, rgba(122,230,244,0.99) 3%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(122,230,244,1) 2%,rgba(122,230,244,0.99) 3%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(122,230,244,1) 2%,rgba(122,230,244,0.99) 3%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ae6f4', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.question-text {
  height: 2em;
}

footer {
  height: 4em;
}

td.about {
  text-align: left;
  margin-top: 0;
}

td.about p:first-child {
  margin-top: 0;
}

td.about p:last-child {
  margin-bottom: 0;
}

td.accordion {
  text-align: left;
  padding: 0;
}

td.accordion summary {
  padding: 1em;
  cursor: pointer;
  position: relative;
}

td.accordion .content {
  padding: 1em;
  border-top: 1px solid #d1d1d1;
}

#podcast-info {
  border-top: 1px solid #d1d1d1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

#podcast-info div {
  padding: 1em;
}

#podcast-info div:first-child {
  border-right: 1px solid #d1d1d1;
}

.meta {
  font-family: monospace;
}

a.link {
  margin: 0 0.25em;
}

table.accordion-container {
  text-align: left;
}

table.diary summary {
  background: #e8e8e8;
}

/* table.join summary {
  background: #dcf3d8;
} */

table.accordion-container .content.table-inside {
  padding: 0;
}

table.accordion-container .content td {
  border: 0;
}

table.accordion-container .content td:first-child {
  border-right: 1px solid #D1D1D1;
}

time {
  /* float: right; */
  color: #D1D1D1;
  margin-top: 2em;
  display: block;
}

.content {
  position: relative;
}

#star {
  color: #e4e4e4;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#star.angle {
  /* transform: rotate(45deg); */
}

.cursive {
  font-family: cursive;
}

h1.tiny {
  font-size: 1em;
  font-weight: normal;
}

h1.tiny a {
  color: black;
  text-decoration: none;
  /* border-bottom: 1px solid #d1d1d1; */
}

.caption {
  font-size: 0.75em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

/* .tiers-grid {
  border: 1px solid #d1d1d1;
}

.tiers-grid .tier {
  display: grid;
  grid-template-columns: 60px 1fr 5fr;
  border-bottom: 1px solid #d1d1d1;
}

.tiers-grid .tier > div {
  border-right: 1px solid #d1d1d1;
  padding: 10px;
}

.tier .type {
  font-family: Courier, 'Courier New', monospace;
  font-size: 16px;
} */

.content a.join {
  color: #000;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #d1d1d1;
  border-radius: 7px;
  width: 100%;
  display: block;
  text-align: center;
}

.content a.join:hover {
  /* background-color: #f0f0f0; */
}

.content ul {
  margin: 0;
  padding: 0 0 0 1em;
}

.tier-star {
  background-size: 80%;
  background-position: center;
  padding: 0 !important;
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.price {
  position: absolute;
  top: 19px;
  right: 60px;
  font-style: italic;
  color: #7c7c7c;
}

.banner {
  margin-bottom: 1.5em;
}

.description ul {
  padding: 0;
  padding-left: 1em;
  margin: 0;
}

p.info {
  text-align: center;
  margin: 2em;
}

p.info code {
  color: black;
}

p.info.html code {
  border-color: rgba(149, 238, 74, 1);
  background-color: rgba(149, 238, 74, 0.2);
}

p.info.body code {
  border-color: rgba(146, 112, 92, 1);
  background-color: rgba(146, 112, 92, 0.2);
  color: rgba(146, 112, 92, 1);
}

p.info.head code {
  border-color: rgba(149, 149, 149, 1);
  background-color: rgba(149, 149, 149, 0.2);
  color: rgba(149, 149, 149, 1);
}

p.info.a code {
  border-color: rgba(161, 133, 84, 1);
  background-color: rgba(161, 133, 84, 0.2);
  color: rgba(161, 133, 84, 1);
}

a.join.html {
  box-shadow: 0 0 12px rgba(149, 238, 74, 0.2);
  transition: box-shadow 0.5s ease-in-out 0s;
}

a.join.html:hover {
  box-shadow: 0 0 36px rgba(149, 238, 74, 1);
}

a.join.body {
  box-shadow: 0 0 12px rgba(146, 112, 92, 0.2);
  transition: box-shadow 0.5s ease-in-out 0s;
}

a.join.body:hover {
  box-shadow: 0 0 36px rgba(146, 112, 92, 1);
}

a.join.head {
  box-shadow: 0 0 12px rgba(149, 149, 149, 0.2);
  transition: box-shadow 0.5s ease-in-out 0s;
}

a.join.head:hover {
  box-shadow: 0 0 36px rgba(149, 149, 149, 1);
}

a.join.a {
  box-shadow: 0 0 12px rgba(161, 133, 84, 0.2);
  transition: box-shadow 0.5s ease-in-out 0s;
}

a.join.a:hover {
  box-shadow: 0 0 36px rgba(161, 133, 84, 1);
}

.green-star {background-image: url('../images/star-1-green.png');}
.bronze-star {background-image: url('../images/star-3-bronze.png');}
.silver-star {background-image: url('../images/star-2-silver.png');}
.gold-star {background-image: url('../images/star-4-gold.png');}

/* .tiers-grid .tier .tier-energy {max-width: 100px;} */
.tiers-grid .tier:last-child, .tiers-grid .tier > div:last-child {border: 0;}

@media only screen and (max-width: 1000px) {

  nav {
    margin-left: 0;
    margin-right: 0;
  }

  a.button {
    margin: 0 0.2em 0.6em;
  }

  .energy {
    margin-top: 0;
    opacity: 0.4;
  }

  #podcast-info {
    display: block;
  }

  #podcast-info div:first-child {
    border-right: 0;
    border-bottom: 1px solid #d1d1d1;
  }

}

@media only screen and (max-width: 500px) {

  .container {
    padding-right: 0.25em;
    padding-left: 0.25em;
  }

  a.podcast,
  .podcast {
    padding: 0.25em;
    padding-bottom: 0.75em;
  }

}
