*, *:before, *:after { box-sizing: border-box; }
body, html {
    background: rgb(126, 126, 126);
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em;
}
article, section {
    margin: 0 auto;
    /* max-width: 400px; */
    text-transform: lowercase;
}
article p {

}
h1, p {
    font-size: initial;
    font-weight: initial;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 4em;
    margin-bottom: 1em;
    font-weight: bold;
}
p, section, h2 {
    margin: 1em 0;
    font-size: 2em;
    line-height: 1.1em;
}
.one { color: rgb(108, 204, 29); }
.two { color: rgb(204, 178, 29); }
.three { color: rgb(105, 6, 187); }
.four { background-color: rgb(187, 72, 6); }
hr {
    border: 0;
    border-top: 1px solid #000;
}
#sites a {
    border-top: 1px solid #000;
    display: block;
    padding: 1em 0;
    color: #000;
    word-break: break-all;
}
.item {
    background: rgb(204, 178, 29);
}

@media (max-width: 500px) {
    p, section {
        margin: 1em 0;
        font-size: 1.5em;
        line-height: 1.1em;
    }
}
