*, *:before, *:after { box-sizing: border-box; }
body, html {
    background: #ebfff4;
    color: #453173;
}
body {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1em;
}
ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}
ul li {
    /* border-bottom: 4px double rgb(0, 0, 0); */
    padding: .5em 0;
}
ul li::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    margin-right: 1em;
    vertical-align: middle;
}
#one::before { background: radial-gradient(circle, rgba(0,255,19,1) 0%, rgba(25,0,255,1) 100%); }
#two::before { background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(174,166,8,1) 32%, rgba(54,20,96,1) 59%, rgba(0,0,0,1) 100%); }
#three::before { background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,44,0,1) 16%, rgba(174,166,8,1) 53%, rgba(54,20,96,1) 59%, rgba(73,15,30,1) 69%, rgba(0,0,0,1) 100%); }
#four::before { background: radial-gradient(circle, rgba(21,189,210,1) 0%, rgba(60,255,0,1) 16%, rgba(224,90,3,1) 30%, rgba(47,8,174,1) 53%, rgba(54,20,96,1) 59%, rgba(73,15,62,1) 69%, rgba(11,26,54,1) 77%, rgba(0,0,0,1) 100%); }
#five::before { background: radial-gradient(circle, rgba(40,52,54,1) 0%, rgba(158,208,186,1) 16%, rgba(177,224,3,1) 30%, rgba(54,20,96,1) 39%, rgba(47,8,174,1) 53%, rgba(255,0,207,1) 62%, rgba(19,87,214,1) 77%, rgba(0,0,0,1) 100%); }
#six::before { background: radial-gradient(circle, rgba(0,219,255,1) 4%, rgba(158,208,186,1) 16%, rgba(0,255,68,1) 24%, rgba(177,224,3,1) 30%, rgba(54,20,96,1) 39%, rgba(47,8,174,1) 44%, rgba(255,0,0,1) 62%, rgba(29,161,209,1) 67%, rgba(19,87,214,1) 77%, rgba(84,7,7,1) 91%, rgba(0,0,0,1) 100%); }
#seven::before { background: radial-gradient(circle, rgba(54,20,96,1) 8%, rgba(158,208,186,1) 36%, rgba(39,48,146,1) 55%, rgba(19,87,214,1) 85%, rgba(84,7,7,1) 91%, rgba(84,7,66,1) 94%); }
#eight::before { background: radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(158,208,186,1) 13%, rgba(73,255,0,1) 15%, rgba(255,0,0,1) 19%, rgba(206,255,0,1) 22%, rgba(0,23,255,1) 24%, rgba(54,20,96,1) 29%, rgba(255,251,0,1) 36%, rgba(39,48,146,1) 82%, rgba(19,87,214,1) 85%, rgba(84,7,7,1) 91%, rgba(84,7,66,1) 94%); }
#nine::before { background: radial-gradient(circle, rgba(255,0,0,1) 23%, rgba(255,255,255,1) 44%, rgba(39,48,146,1) 67%, rgba(233,255,0,1) 77%, rgba(19,87,214,1) 85%, rgba(255,0,195,1) 89%); }
#ten::before { background: radial-gradient(circle, rgba(0,0,0,1) 12%, rgba(255,0,21,1) 23%, rgba(255,0,195,1) 35%, rgba(207,53,53,1) 44%, rgba(0,0,0,1) 55%, rgba(233,255,0,1) 57%, rgba(19,214,84,1) 64%); }
#eleven::before { background: radial-gradient(circle, rgba(255,70,70,1) 8%, rgba(0,0,0,1) 12%, rgba(28,255,0,1) 23%, rgba(255,0,195,1) 35%, rgba(207,53,53,1) 44%, rgba(0,0,0,1) 55%, rgba(233,255,0,1) 57%, rgba(19,116,214,1) 64%); }
#twelve::before { background: radial-gradient(circle, rgba(255,70,70,1) 8%, rgba(0,0,0,1) 12%, rgba(221,235,159,1) 23%, rgba(106,255,0,1) 35%, rgba(0,0,0,1) 84%); }
#thirteen::before { background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(243,255,70,1) 8%, rgba(246,13,13,1) 12%, rgba(221,235,159,1) 23%, rgba(106,255,0,1) 35%, rgba(182,131,0,1) 49%, rgba(0,125,99,1) 60%, rgba(18,0,63,1) 72%, rgba(0,0,0,1) 84%); }
#fourteen::before { background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(70,255,163,1) 8%, rgba(246,230,13,1) 12%, rgba(255,255,255,1) 23%, rgba(108,129,93,1) 31%, rgba(106,255,0,1) 35%, rgba(0,255,134,1) 42%, rgba(182,131,0,1) 49%, rgba(84,0,125,1) 60%, rgba(176,144,255,1) 72%, rgba(0,0,0,1) 84%); }
#fifteen::before { background: radial-gradient(circle, rgba(255,254,144,1) 1%, rgba(176,144,255,1) 33%, rgba(98,98,98,1) 46%, rgba(0,0,0,1) 84%); }
